.center-button{
    margin-right: 1%;
    margin-bottom: 1%;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.center-button:hover {
    background-color: deepskyblue;
}

.selected-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}