.center-card {
    display: flex;
    align-items: flex-start; /* align children to top */
    justify-content: flex-start;
    gap: 1.5rem;

    background-color: white;
    border-radius: 5px;
    padding: 10px;

    margin-bottom: 1.5rem;
    position: relative; /* create positioning context for the close button */
}

/* position the last child (close button) at the top-right of the card */
.center-card > :last-child {
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
}

.center-image {
    width: 20%;
    height: auto;
    border-radius: 5px;
}

.center-info{
    width: auto;
}

.center-title{
    font-size: 1.5rem;
    margin-top: 0;
    width: 100%;
}

.all-center-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    gap: 2rem;
}

.mci-center-details {
    margin: 0; 
    padding-left: 1rem;
    padding-inline-start: 1rem;
}

.wt-center-details {
    margin: 0;
    padding-left: 1rem;
    padding-inline-start: 1rem;
}